<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
    <section id="plugin.video.sling">
        <category id="General" label="30009">
            <group id="1">
                <setting id="Enable_Debugging" type="boolean" label="30000">
                    <control type="toggle" />
                    <default>false</default>
                    <level>0</level>
                </setting>
                <setting id="User_Email" type="string" label="30002">
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string"/>
                    <default></default>
                    <level>0</level>
                </setting>
                <setting id="User_Password" type="string" label="30003">
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <hidden>true</hidden>
                    </control>
                    <default></default>
                    <level>0</level>
                </setting>
                <setting id="Log_Out" type="action" label="30008" action="RunPlugin(plugin://plugin.video.sling/?mode=logout)">
                    <control type="button" format="action" />
                    <level>0</level>
                </setting>
            </group>
        </category>
        <category id="SlingerService" label="30119">
            <group id="1">
                <setting id="Use_Slinger" type="boolean" label="30119">
                    <control type="toggle" />
                    <default>false</default>
                    <level>0</level>
                </setting>
                <setting id="Run_Updates" type="boolean" label="30149">
                    <control type="toggle" />
                    <default>true</default>
                    <dependencies>
                        <dependency type="enable" setting="Use_Slinger" operator="is">true</dependency>
                    </dependencies>
                    <level>0</level>
                </setting>
            </group>
            <group id="2" label="30118">
                <setting id="Channels_Update" type="action" label="30137" action="RunPlugin(plugin://plugin.video.sling/?mode=setting&name=update_channels&value=true)" option="close">
                    <control type="button" format="action" />
                    <dependencies>
                        <dependency type="enable" setting="Use_Slinger" operator="is">true</dependency>
                    </dependencies>
                    <level>0</level>
                </setting>
                <setting id="Guide_Update" type="action" label="30138" action="RunPlugin(plugin://plugin.video.sling/?mode=setting&name=update_guide&value=true)" option="close">
                    <control type="button" format="action" />
                    <dependencies>
                        <dependency type="enable" setting="Use_Slinger" operator="is">true</dependency>
                    </dependencies>
                    <level>0</level>
                </setting>
                <setting id="On_Demand_Update" type="action" label="30139" action="RunPlugin(plugin://plugin.video.sling/?mode=setting&name=update_on_demand&value=true)" option="close">
                    <control type="button" format="action" />
                    <dependencies>
                        <dependency type="enable" setting="Use_Slinger" operator="is">true</dependency>
                    </dependencies>
                    <level>0</level>
                </setting>
                <setting id="Shows_Update" type="action" label="30140" action="RunPlugin(plugin://plugin.video.sling/?mode=setting&name=update_shows&value=true)" option="close">
                    <control type="button" format="action" />
                    <dependencies>
                        <dependency type="enable" setting="Use_Slinger" operator="is">true</dependency>
                    </dependencies>
                    <level>0</level>
                </setting>
                <setting id="VOD_Update" type="action" label="30141" action="RunPlugin(plugin://plugin.video.sling/?mode=setting&name=update_vod&value=true)" option="close">
                    <control type="button" format="action" />
                    <dependencies>
                        <dependency type="enable" setting="Use_Slinger" operator="is">true</dependency>
                    </dependencies>
                    <level>0</level>
                </setting>
            </group>
            <group id="3" label="30127">
                <setting id="Enable_EPG" type="boolean" label="30128">
                    <control type="toggle" />
                    <default>false</default>
                    <dependencies>
                        <dependency type="enable" setting="Use_Slinger" operator="is">true</dependency>
                    </dependencies>
                    <level>0</level>
                </setting>
                <setting id="Guide_Days" type="integer" label="30126">
                    <constraints>
                        <minimum>1</minimum>
                        <maximum>5</maximum>
                        <step>1</step>
                    </constraints>
                    <control type="slider" format="integer" />
                    <default>2</default>
                    <dependencies>
                        <dependency type="enable">
                            <and>
                                <condition setting="Use_Slinger" operator="is">true</condition>
                                <condition setting="Enable_EPG" operator="is">true</condition>
                            </and>
                        </dependency>
                    </dependencies>
                    <level>0</level>
                </setting>
                <setting id="Start_Guide" type="boolean" label="30147">
                    <control type="toggle" />
                    <default>false</default>
                    <dependencies>
                        <dependency type="enable" setting="Use_Slinger" operator="is">true</dependency>
                    </dependencies>
                    <level>0</level>
                </setting>
            </group>
            <group id="4" label="30120">
                <setting id="Channels_Interval" type="integer" label="30121">
                    <constraints>
                        <minimum>1</minimum>
                        <maximum>7</maximum>
                        <step>1</step>
                    </constraints>
                    <control type="slider" format="integer" />
                    <default>1</default>
                    <dependencies>
                        <dependency type="enable" setting="Use_Slinger" operator="is">true</dependency>
                    </dependencies>
                    <level>0</level>
                </setting>
                <setting id="Guide_Interval" type="number" label="30122">
                    <constraints>
                        <minimum>0.5</minimum>
                        <maximum>7.0</maximum>
                        <step>0.0</step>
                    </constraints>
                    <control type="slider" format="number" />
                    <default>0.5</default>
                    <dependencies>
                        <dependency type="enable" setting="Use_Slinger" operator="is">true</dependency>
                    </dependencies>
                    <level>0</level>
                </setting>
                <setting id="Shows_Interval" type="integer" label="30123">
                    <constraints>
                        <minimum>1</minimum>
                        <maximum>30</maximum>
                        <step>1</step>
                    </constraints>
                    <control type="slider" format="integer" />
                    <default>7</default>
                    <dependencies>
                        <dependency type="enable" setting="Use_Slinger" operator="is">true</dependency>
                    </dependencies>
                    <level>0</level>
                </setting>
                <setting id="On_Demand_Interval" type="integer" label="30124">
                    <constraints>
                        <minimum>1</minimum>
                        <maximum>30</maximum>
                        <step>1</step>
                    </constraints>
                    <control type="slider" format="integer" />
                    <default>7</default>
                    <dependencies>
                        <dependency type="enable" setting="Use_Slinger" operator="is">true</dependency>
                    </dependencies>
                    <level>0</level>
                </setting>
                <setting id="VOD_Interval" type="integer" label="30125">
                    <constraints>
                        <minimum>1</minimum>
                        <maximum>30</maximum>
                        <step>1</step>
                    </constraints>
                    <control type="slider" format="integer" />
                    <default>7</default>
                    <dependencies>
                        <dependency type="enable" setting="Use_Slinger" operator="is">true</dependency>
                    </dependencies>
                    <level>0</level>
                </setting>
            </group>
        </category>
        <category id="Expert" label="30130">
            <group id="1">
                <setting id="Delete_DB" type="action" label="30131" action="RunPlugin(plugin://plugin.video.sling/?mode=setting&name=delete_db&value=true)" option="close">
                    <control type="button" format="action" />
                    <level>3</level>
                </setting>
                <setting id="Debug" type="string" label="30135">
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string" />
                    <default></default>
                    <level>3</level>
                </setting>
                <setting id="Reset_Hidden" type="action" label="30143" action="RunPlugin(plugin://plugin.video.sling/?mode=setting&name=reset_hidden&value=true)" option="close">
                    <control type="button" format="action" />
                    <level>3</level>
                </setting>
                <setting id="View_Slinger" type="action" label="30145" action="RunPlugin(plugin://plugin.video.sling/?mode=setting&name=view_slinger&value=true)" option="close">
                    <control type="button" format="action" />
                    <level>3</level>
                </setting>
            </group>
        </category>

        <!-- Hidden -->
        <setting id="access" type="text" default="" visible="false"/>
        <setting id="access_token" type="text" default="" visible="false"/>
        <setting id="access_token_jwt" type="text" default="" visible="false"/>
        <setting id="subscriber_id" type="text" default="" visible="false"/>
        <setting id="device_id" type="text" default="" visible="false"/>
        <setting id="user_subs" type="text" default="" visible="false"/>
        <setting id="legacy_subs" type="text" default="" visible="false"/>
        <setting id="user_dma" type="text" default="" visible="false"/>
        <setting id="user_offset" type="text" default="" visible="false"/>
        <setting id="user_zip" type="text" default="" visible="false"/>
        <setting id="update_guide" type="text" default="false" visible="false"/>
    </section>
</settings>
