<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings label="30009">
    <setting id="Enable_Debugging" type="bool"   label="30000" default="false" />
    <setting id="User_Email"       type="text"   label="30002" default="" />
    <setting id="User_Password"    type="text"   label="30003" default=""  option="hidden"/>
    <setting id="Log_Out"          type="action" label="30008" action="RunPlugin(plugin://plugin.video.sling/?mode=logout)" />

    <category label="30119">
        <setting id="Use_Slinger"  type="bool"   label="30119" default="false" />
        <setting label="30118" type="lsep" />
        <setting id="Channels_Update" type="action" label="30137" action="RunPlugin(plugin://plugin.video.sling/?mode=setting&amp;name=update_channels&amp;value=true)" option="close" enable="eq(-2,true)" />
        <setting id="Guide_Update" type="action" label="30138" action="RunPlugin(plugin://plugin.video.sling/?mode=setting&amp;name=update_guide&amp;value=true)" option="close" enable="eq(-3,true)" />
        <setting id="On_Demand_Update" type="action" label="30139" action="RunPlugin(plugin://plugin.video.sling/?mode=setting&amp;name=update_on_demand&amp;value=true)" option="close" enable="eq(-4,true)" />
        <setting id="Shows_Update" type="action" label="30140" action="RunPlugin(plugin://plugin.video.sling/?mode=setting&amp;name=update_shows&amp;value=true)" option="close" enable="eq(-5,true)" />
        <setting id="VOD_Update" type="action" label="30141" action="RunPlugin(plugin://plugin.video.sling/?mode=setting&amp;name=update_vod&amp;value=true)" option="close" enable="eq(-6,true)" />
        <setting label="30127" type="lsep" />
        <setting id="Enable_EPG" type="bool" label="30128" default="false" enable="eq(-8,true)" />
        <setting id="Guide_Days" type="slider" label="30126" default="2" range="1,1,5" option="int" enable="eq(-1,true) + eq(-9,true)" />
        <setting id="Start_Guide" type="bool" label="30147" default="false" enable="eq(-10,true)" />
        <setting label="30120" type="lsep" />
        <setting id="Channels_Interval" type="slider" label="30121" default="1" range="1,1,7" option="int" enable="eq(-12,true)" />
        <setting id="Guide_Interval" type="slider" label="30122" default="0.5" range="0,0.5,7" option="float" enable="eq(-13,true)" />
        <setting id="Shows_Interval" type="slider" label="30123" default="7" range="1,1,30" option="int" enable="eq(-14,true)" />
        <setting id="On_Demand_Interval" type="slider" label="30124" default="7" range="1,1,30" option="int" enable="eq(-15,true)" />
        <setting id="VOD_Interval" type="slider" label="30125" default="1" range="1,1,30" option="int" enable="eq(-16,true)" />
        <setting label="30136" type="lsep" />
    </category>
    <category label="30130">
        <setting id="Delete_DB" type="action" label="30131" action="RunPlugin(plugin://plugin.video.sling/?mode=setting&amp;name=delete_db&amp;value=true)" option="close" />
        <setting id="Debug" type="text" label="30135" default="" />
        <setting id="Reset_Hidden" type="action" label="30143" action="RunPlugin(plugin://plugin.video.sling/?mode=setting&amp;name=reset_hidden&amp;value=true)" option="close" />
        <setting id="View_Slinger" type="action" label="30145" action="RunPlugin(plugin://plugin.video.sling/?mode=setting&amp;name=view_slinger&amp;value=true)" option="close" />
    </category>
    <!-- Hidden -->
    <setting id="access" type="text" default="" visible="false"/>
    <setting id="access_token" type="text" default="" visible="false"/>
    <setting id="access_token_jwt" type="text" default="" visible="false"/>
    <setting id="subscriber_id" type="text" default="" visible="false"/>
    <setting id="device_id" type="text" default="" visible="false"/>
    <setting id="user_subs" type="text" default="" visible="false"/>
    <setting id="legacy_subs" type="text" default="" visible="false"/>
    <setting id="user_dma" type="text" default="" visible="false"/>
    <setting id="user_offset" type="text" default="" visible="false"/>
    <setting id="user_zip" type="text" default="" visible="false"/>

    <setting id="update_guide" type="text" default="false" visible="false"/>
</settings>
